@inherits LayoutComponentBase
<div class="page">
    <main>
        <NavMenu />
        <article class="content px-4" style="margin-top: 0px;">
            @Body
        </article>
    </main>
</div>
    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.MiddleCenter" />
