@inject NavigationManager Nav
@inject AppShellContext AppShell

<div class="fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 flex justify-around items-center h-14 z-20">
    <NavLink class="flex flex-col items-center justify-center text-xs text-gray-500 active:text-blue-600" href="/favourites" Match="NavLinkMatch.Prefix">
        <i class="fas fa-star text-lg mb-1"></i>
        Favourites
    </NavLink>
    <NavLink class="flex flex-col items-center justify-center text-xs text-gray-500 active:text-blue-600" href="/" Match="NavLinkMatch.All">
        <i class="fas fa-address-book text-lg mb-1"></i>
        Contacts
    </NavLink>
</div>
